# Third party
/composer.lock
/vendor/

# Generated / Temporary files
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/bin/kalkuli.phar

# Configuration Files
/app/config/parameters.yml
